<mat-form-field appearance="fill" class="multiple-layers-selector">
    <mat-label>Find Posts By Tour</mat-label>
    <mat-select (selectionChange)="onChange()" [formControl]="tour">
        <mat-form-field class="multiple-layers-selector-form-field" appearance="outline">
            <mat-label>Search Tour</mat-label>
            <input matInput type="text" [(ngModel)]="value" (keyup)="onKey()">
            <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="clearSearch()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <mat-option class="disabled-option" disabled></mat-option>
        <mat-option *ngFor="let tourItem of toursList" [value]="tourItem.id">{{tourItem.name}}</mat-option>
    </mat-select>
    <button *ngIf="tour.value"
        matSuffix
        mat-icon-button
        type="button"
        aria-label="Clear"
        (click)="tour.setValue(0); $event.stopPropagation()">
        <mat-icon>close</mat-icon>
    </button>
</mat-form-field>
