<div *ngIf="!tour" class="authenticating-text" fxLayout="row" fxLayoutAlign="center start">
    <div fxLayout="column" fxLayoutAlign="start center">
        <mat-spinner *ngIf="isLoading"></mat-spinner>
        <p class="page-text" [class.error]="isError">No layer found by this id, or there has been connection error!</p>
    </div>
</div>
<div id="googleMapTour"></div>
<ng-container *ngIf="tour">
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <h1 class="mat-headline">{{tour.name}}</h1>
        <div fxLayout="row" fxLayoutGap="10px" *ngIf="canUserEditItem(tour.creator_id)">
            <button mat-flat-button color="accent" routerLink="/tours/edit/{{tour.id}}"><mat-icon>edit</mat-icon>Edit Tour</button>
        </div>
    </div>
    
    <div class="separator"></div>
    <p class="additional-info"><mat-icon>location_on</mat-icon>{{tour.city.name}} ({{$any(tour.layer).name}})</p>
    <p class="additional-info"><mat-icon>timeline</mat-icon>{{getDateRange(tour)}}</p>
    <img class="post-image" [src]="tour.image" alt=""/>
    <div class="mat-body">
        <div [innerHTML]="tour.text | safeHTML"></div>
        <div class="content-text-bottom-clear"></div>
        <div class="chips-holder" fxLayout="row" fxLayoutAlign="end start">
            <mat-chip-list aria-label="Fish selection">
                <mat-chip *ngFor="let tag of tour.tags">{{tag.name}}</mat-chip>
            </mat-chip-list>
        </div>
    </div>
    <div class="separator"></div>
    <h1 class="mat-headline">Tour's Posts:</h1>
    <div class="separator"></div>
    <div class="tour-list-holder" fxLayoutGap="10px" fxLayout="column" fxLayoutAlign="space-between center">
        <mat-card class="post-list-item" *ngFor="let post of posts">
            <mat-card-title-group>
                <mat-card-title>{{post.name}}</mat-card-title>
                <mat-card-subtitle fxLayoutAlign="start center"><mat-icon>location_on</mat-icon>{{post.city.name}} ({{$any(post.layer).name}})</mat-card-subtitle>
                <img mat-card-md-image [src]="post.image" alt="">
            </mat-card-title-group>
            <mat-card-content>
                {{turnicateText(post.text)}}
            </mat-card-content>
            <div fxLayout="row" fxLayoutAlign="space-between none">
                <mat-chip-list aria-label="Fish selection">
                    <mat-chip *ngFor="let tag of post.tags">{{tag.name}}</mat-chip>
                </mat-chip-list>
                <div fxLayoutAlign="end center"><button mat-flat-button color="primary" routerLink="/posts/{{post.id}}">See More</button></div>
            </div>
        </mat-card>
    </div>
</ng-container>


