<div id="googleMapPost"></div>
<div fxLayout="row" fxLayoutAlign="space-between center">
    <h1 class="mat-headline">Post Header here</h1>
    <button mat-flat-button color="accent" routerLink="/posts/edit/1"><mat-icon>edit</mat-icon>Edit Post</button>
</div>

<div class="separator"></div>
<p class="additional-info"><mat-icon>location_on</mat-icon>Lviv (Jews Quarter, Old City)</p>
<p class="additional-info"><mat-icon>timeline</mat-icon>19 March 1867 - 15 September 1942</p>
<p class="additional-info"><mat-icon>map</mat-icon>Medieval Tour</p>
<img class="post-image" src="https://material.angular.io/assets/img/examples/shiba2.jpg" />
<div class="mat-body">
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. 
    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, 
    ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, 
    fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, 
    justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus 
    elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, 
    eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla 
    ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur 
    ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, 
    sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, 
    luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut 
    libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. 
    Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, 
    augue velit cursus nunc,
</div>
<div class="separator"></div>
<div fxLayout="row" fxLayoutAlign="end start" fxLayoutGap="10px">
    <button mat-flat-button color="basic" routerLink="/tours/1"><mat-icon>expand_less</mat-icon>To Tour</button>
    <button mat-flat-button color="accent" routerLink="/posts/0"><mat-icon>navigate_before</mat-icon>Prev Post</button>
    <button mat-flat-button color="accent" routerLink="/posts/2"><mat-icon>navigate_next</mat-icon>Next Post</button>
</div>
<div class="separator"></div>
