<div fxLayout fxLayoutGap="10px" class="buttons_holder">
    <button mat-flat-button color="accent" (click)="cancelLastStroke()" [disabled]="getPointsCount()<=1||eventCleared">Cancel Last Stroke</button>
    <button mat-flat-button color="accent" (click)="clearPolyline()" [disabled]="getPointsCount()==0">Clear Polyline</button>
    <button mat-flat-button color="accent" (click)="closePolyline()" [disabled]="getPointsCount()<3||eventCleared">Finish Polyline</button>    
</div>
<div id="googleMapNewLayers"></div>