<form style="margin-bottom: 10px;" [formGroup]="filterForm" (ngSubmit)="filter()">
    <mat-card>
        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-between end" fxLayout.xs="column"
            fxLayoutAlign.xs="none">
            <mat-form-field appearance="fill" fxFlex="20">
                <mat-label>Filter By city</mat-label>
                <mat-select formControlName="city">
                    <mat-option>No Filter</mat-option>
                    <mat-option *ngFor="let city of cities" [value]="city.id">{{city.name}}</mat-option>
                </mat-select>
            </mat-form-field>
            <app-select-layers-list [layer]="layer" (changeLayers)="setLayer($event)" fxFlex="30"></app-select-layers-list>
            <app-chips-field (onChange)="setTags($event)" [tags]="tags" fxFlex></app-chips-field>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="space-between start">
            <div fxLayout="row" fxLayoutGap="10px" style="width: 100%" fxLayoutAlign="end center" >
                <button (click)="clearFilters()" mat-flat-button color="accent" fxFlex.xs><mat-icon>clear</mat-icon>Clear Filters</button>
                <button mat-flat-button color="accent" fxFlex.xs><mat-icon>filter_list</mat-icon>Filter Results</button>
            </div>
        </div>
    </mat-card>
</form>
