<form style="margin-bottom: 10px;">
    <mat-card>
      <div fxLayout="column">
            <div fxLayout="row" fxLayoutGap="10px">
                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>Tour's Name</mat-label>
                    <input matInput placeholder="Tour's Name">
                </mat-form-field>
                <app-select-layers-list fxFlex></app-select-layers-list>
            </div>
            <app-chips-field></app-chips-field>
            <div fxLayout="row" fxLayoutGap="10px">
                <app-select-create-city fxFlex></app-select-create-city>
                <mat-form-field appearance="fill" fxFlex="30">
                    <mat-label>Tour's Duration (in minutes)</mat-label>
                    <input type="number" matInput placeholder="Tour's Duration">
                </mat-form-field>
            </div>
            <mat-checkbox (change)="toggleEnrollability($event.checked)">User can Enroll for a Tour</mat-checkbox>
            <ng-container *ngIf="canEnroll">
                <div fxLayout="row" fxLayoutAlign="space-between start">
                    <mat-form-field appearance="fill" fxFlex="30">
                        <mat-label>Min Visitors</mat-label>
                        <input type="number" matInput placeholder="Min Visitors">
                    </mat-form-field>
                    <mat-form-field appearance="fill" fxFlex="30">
                        <mat-label>Max Visitors</mat-label>
                        <input type="number" matInput placeholder="Max Visitors">
                    </mat-form-field>
                    <mat-form-field appearance="fill" fxFlex="30">
                        <mat-label>Tours Price</mat-label>
                        <input type="number" matInput placeholder="Tours Price">
                    </mat-form-field>
                </div>
            </ng-container>
            <app-text-editor></app-text-editor>
        </div>
    </mat-card>
</form>
