<form style="margin-bottom: 10px;" [formGroup]="filterForm" (ngSubmit)="filter()">
    <mat-card>
        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-between end" fxLayout.xs="column"
            fxLayoutAlign.xs="none">
            <mat-form-field appearance="fill" fxFlex="20">
                <mat-label>Filter By city</mat-label>
                <mat-select formControlName="city">
                    <mat-option>No Filter</mat-option>
                    <mat-option *ngFor="let city in cities" [value]="city.id">{{city.name}}</mat-option>
                </mat-select>
            </mat-form-field>
            <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="5px" fxFlex="30">
                <mat-form-field class="range-field" appearance="fill">
                    <mat-label>Years from</mat-label>
                    <input matInput type="number" placeholder="Ex. 1700 or -300" value="1700" formControlName="period_start">
                </mat-form-field>
                <span>-</span>
                <mat-form-field class="range-field" appearance="fill">
                    <mat-label>Years to</mat-label>
                    <input matInput type="number" placeholder="Ex. 1900 or -5000" value="1900" formControlName="period_end">
                </mat-form-field>
            </div>
            <app-chips-field (onChange)="setTags($event)" [tags]="filterForm.get('tags')!.value" fxFlex></app-chips-field>
        </div>
        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end none">
            <button (click)="clearFilters()" mat-flat-button color="accent" fxFlex.xs><mat-icon>clear</mat-icon>Clear Filters</button>
            <button mat-flat-button color="accent" fxFlex.xs><mat-icon>filter_list</mat-icon>Filter Results</button>
        </div>
    </mat-card>
</form>
