<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
        <a routerLink="/home">Home</a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            <li>
                <a routerLink="/tours">Tours</a>
            </li>
            <li>
                <a routerLink="/layers">Layers</a>
            </li>
            <li>
                <a routerLink="/posts">Posts</a>
            </li>
        </ul>

        <ul fxLayout fxLayoutGap="15px" class="navigation-items login">
            <li>
                <ng-container *ngIf="!isLogged">
                    <a (click)="goToLogin()">Login</a>
                    <span>/</span>
                    <a routerLink="/register">Register</a>
                </ng-container>
                <ng-container *ngIf="isLogged">
                    <div class="header-profile-image" [matMenuTriggerFor]="settingsMenu"></div>
                    <mat-menu #settingsMenu>
                        <menu mat-menu-item routerLink="/profile"><mat-icon>account_circle</mat-icon>Profile</menu>
                        <menu mat-menu-item (click)="logout()"><mat-icon>exit_to_app</mat-icon>Logout</menu>
                    </mat-menu>
                </ng-container>
            </li>
        </ul>
    </div>
  </mat-toolbar>