<h1 mat-dialog-title>Select image or upload one!</h1>
<div mat-dialog-content>
    <div fxLayout="column" fxLayoutAlign="start center" style="background-color: #f2f2f2;">
        <mat-spinner *ngIf="isLoading"></mat-spinner>
        <p *ngIf="pageText" class="page-text" [class.error]="isError">{{pageText}}</p>
    </div>
    <div class="images-holder">
        <div class="image-wrapper" *ngFor="let img of images">
            <mat-icon (click)="deleteImage(img.id)">delete_forever</mat-icon>
            <img (click)="selectImage($event)" [class.selected]="selectedFile.includes(img.id)" src="http://localhost:8080/files-uploader/file/image/{{img.id}}" alt=""/>
        </div>
        <div style="clear: both;"></div>
    </div>
</div>
<div mat-dialog-actions fxLayout="column" fxLayoutGap="10px">
    <div *ngIf="isSuccess" class="files-upload" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="space-around center">
        <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
            <input style="display: none;" #file type="file" accept="image/*" (change)="uploadImage(file.files)">
            <button mat-flat-button color="primary" (click)="file.click()">Upload New Image</button>
        </div>
        <mat-progress-bar
            color="accent"
            [mode]="mode"
            [value]="progress">
        </mat-progress-bar>
    </div>
    <div class="dialog-actions" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
        <button color="warn" mat-flat-button (click)="onCancelClick()">Cancel</button>
        <button [disabled]="!selectedFile" color="accent" mat-flat-button [mat-dialog-close]="selectedFile" cdkFocusInitial>Select File</button>
    </div>
</div>
